@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

button {
  border-radius: 3rem;
  text-align: center;
  padding: 1.5rem;
  width: 15rem;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: #1e3263;
  /* background: #fb923c; */
  /* background: #15803d; */
  /* background: #42405F; */
  /* background: #344D7A; */
  color: white;
  border: 0.15rem solid transparent;
  text-transform: capitalize;
}

button:hover { 
  border-width: 0.15rem;
  background-color: #e6e6e6; 
  border-color: #1e3263;
  color: #1e3263;
  /* border-color: #fb923c; */
  /* border-color: #15803d; */
  /* border-color: #42405F; */
  background: none;
}