button {
  border-radius: 3rem;
  text-align: center;
  padding: 1.5rem;
  width: 15rem;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: #1e3263;
  color: white;
  border: 0.15rem solid transparent;
  text-transform: capitalize;
}

button:hover { 
  border-width: 0.15rem;
  background-color: #e6e6e6; 
  border-color: #1e3263;
  color: #1e3263;
  background: none;
}