.navbar {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    margin: 0rem 2.75rem;
}

.icons{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    /* color: #1E3263; */
    color: #FD8C2D;
}