@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

.survey-container {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Jost', sans-serif;
}

.instructions {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #3A4C6B;
  /* border: 0.1rem solid #FD8C2D; */
  border: 0.1rem solid  #b3ffe0;
  padding: 1rem;
  border-radius: 0.5rem;
  /* background-color: #F3F4F6; */
  background-color: #e6fff5;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
}

.survey-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
}

.row-even {
  /* background-color: #5d79aa; */
  background-color: #e6fff5;
  /* color: #ffffff; */
}

.row-odd {
  /* background-color: #ef9043; */
  background-color: #b3ffe0;
  /* color: #ffffff; */
}

.question-container {
  padding: 2rem;
}

.question-text {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.options-container {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
}

.option-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  /* color: white; */
  transition: color 0.3s;
}

.option-label input[type="radio"] {
  display: none;
}


.icon-container {
    margin-right: 0.8rem;
    transition: color 0.3s;
    font-size: 1.5rem;
  }

.option-label input[type="radio"]:checked + .icon-container {
  color:black;
  font-size: 2rem;
  transition: 0.3s;
}

.survey-table td {
  padding: 0;
  border: none;
}
