.root-container {
    background: url('../../assets/school-bg.jpeg') no-repeat center center fixed;
    background-size: cover; 
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.root-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); 
}
.content {
    z-index: 1;
    font-family: 'Jost', sans-serif;
    font-size: 84px;
    font-weight: 600;
    color: #1E3263;
    align-items: center;
    justify-content: center;
    width: 70%;
    text-align: center;
    margin-top: 0.5rem;
}


.header {
    border: 0.25rem solid transparent;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    width: 100%;
    z-index: 100;
}

.header-links {
    color: #1E3263;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    gap: 2rem;
    display: flex;
    font-weight: 500;
    padding-right: 1rem;
    align-items: center;
    padding-right: 6.5rem;
}

.header-link {
    cursor: pointer;
}

.content {
    font-family: 'Jost', sans-serif;
    font-size: 84px;
    font-weight: 600;
    color: #1E3263;
    align-items: center;
    justify-content: center;
    width: 70%;
    text-align: center;
    margin-top: 0.5rem;
}

.title {
    margin-bottom: 0;
}

.description {
    font-size: 24px;
    color: black;
    font-weight: 600;
}

.survey {
    margin-top: 5rem;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

.features {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    width: 100%;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.circle {
    border-radius: 50%;
    background: #1E3263;
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: white;
    font-size: 4rem;
}

.feature-title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 1rem;
}

.feature-description {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.dropdown{
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
    justify-content: center;
}
.feeling-button{
    font-size: 18px;
}
.emoji{
    font-size:18px;
}
.dropdown-button{
    width: fit-content;
}